<aside class="min-w-[190px] flex flex-col items-end gap-[15px]" th:fragment="asidetools">
  <img height="53" src="/images/subtit03.gif" width="161">
  <ul class="w-[161px] flex flex-col gap-[5px] pl-[13.5px]">

    <li class="w-full flex items-center gap-[6.5px] h-[21px]">
      <img class="h-[10px] mb-[2px]" height="10" src="/images/icon_5.gif" width="6">
      <a th:replace="~{fragments/link :: linkB('/download/actg', 'ACTG', false)}"></a>
    </li>

    <li class="w-full flex items-center gap-[6.5px] h-[21px]">
      <img class="h-[10px] mb-[2px]" height="10" src="/images/icon_5.gif" width="6">
      <a th:replace="~{fragments/link :: linkB('/download/cifter', 'CIFTER', false)}"></a>
    </li>

    <li class="w-full flex items-center gap-[6.5px] h-[21px]">
      <img class="h-[10px] mb-[2px]" height="10" src="/images/icon_5.gif" width="6">
      <a th:replace="~{fragments/link :: linkB('/download/dbond', 'DBond', false)}"></a>
    </li>

    <li class="w-full flex items-center gap-[6.5px] h-[21px]">
      <img class="h-[10px] mb-[2px]" height="10" src="/images/icon_5.gif" width="6">
      <a th:replace="~{fragments/link :: linkB('/download/demix', 'deMix', false)}"></a>
    </li>

    <li class="w-full flex items-center gap-[6.5px] h-[21px]">
      <img class="h-[10px] mb-[2px]" height="10" src="/images/icon_5.gif" width="6">
      <a th:replace="~{fragments/link :: linkB('/download/DDPSearch', 'DDP Search', false)}"></a>
    </li>

    <li class="w-full flex items-center gap-[6.5px] h-[21px]">
      <img class="h-[10px] mb-[2px]" height="10" src="/images/icon_5.gif" width="6">
      <a th:replace="~{fragments/link :: linkB('/download/nextsearch', 'Next Search', false)}"></a>
    </li>

    <li class="w-full flex items-center gap-[6.5px] h-[21px]">
      <img class="h-[10px] mb-[2px]" height="10" src="/images/icon_5.gif" width="6">
      <a th:replace="~{fragments/link :: linkB('/download/moda', 'MODa', false)}"></a>
    </li>

    <li class="w-full flex items-center gap-[6.5px] h-[21px]">
      <img class="h-[10px] mb-[2px]" height="10" src="/images/icon_5.gif" width="6">
      <a th:replace="~{fragments/link :: linkB('/download/modplus', 'MODplus', false)}"></a>
    </li>

    <li class="w-full flex items-center gap-[6.5px] h-[21px]">
      <img class="h-[10px] mb-[2px]" height="10" src="/images/icon_5.gif" width="6">
      <a th:replace="~{fragments/link :: linkB('/download/mutcombinator', 'MutCombinator', false)}"></a>
    </li>

    <li class="w-full flex items-center gap-[6.5px] h-[21px]">
      <img class="h-[10px] mb-[2px]" height="10" src="/images/icon_5.gif" width="6">
      <a th:replace="~{fragments/link :: linkB('/download/PatternMatchFrm', 'Pattern Match', false)}"></a>
    </li>

    <li class="w-full flex items-center gap-[6.5px] h-[21px]">
      <img class="h-[10px] mb-[2px]" height="10" src="/images/icon_5.gif" width="6">
      <a th:replace="~{fragments/link :: linkB('/download/viewer', 'Spectral Viewer', false)}"></a>
    </li>

  </ul>
</aside>