<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/metadata :: metadata}">
<body>
<header th:replace="~{fragments/header :: header('header', false)}"></header>


<div class="w-[990px] h-[1800px] flex flex-col text-[#4e4d4d] pl-[25px]">
    <div class="flex flex-col flex-start w-full h-[52px] mt-[18px] mb-[20px] border-b-[1px] border-[#cfd3cf] text-[16px] font-bold">
        <div style="display: flex; flex-direction: row; align-items: flex-start">
            <div class="h-[34px] leading-[2.1]">ADMINISTRATION</div>
            <div style="font-size: 11px; font-weight: normal; display: flex; width: 400px; margin-top: 10px">
                <div class="container">
                    <img src="/images/top_icon_01.gif" class="image"><span class="underline">Configuration</span>
                </div>
                <div class="container">
                    <img src="/images/top_icon_01.gif" class="image"><a href="/admin/searchlog">Search Log</a>
                </div>
                <div class="container">
                    <img src="/images/top_icon_01.gif" class="image">Users
                </div>
                <div class="container">
                    <img src="/images/top_icon_01.gif" class="image">Request Log
                </div>
            </div>
        </div>
        <div style="color: #0000FF; font-weight: normal; font-size: 11px">> Configuration</div>
    </div>
    <div class="w-full mx-auto leading-[130%] flex flex-col gap-[10px] p-[2px]">
        <div class="flex flex-col gap-[18px] w-[750px] h-[916px]">
            <div class="w-full p-[1px]">
                <div style="margin-bottom: 3px;">
                    <img class="inline pb-[3px]" height="9" th:src="@{/images/p_st1.GIF}" width="4">
                    <span class="font-bold">Database</span>
                </div>
                <form>
                    <table class="database">
                        <tr style="border-bottom: 2px solid #DADDDC; background-color: #f2f2f2">
                            <td style="padding-left: 7px;" class="tableleft">Name</td>
                            <td style="padding-left: 7px;">File</td>
                            <td></td>
                        </tr>
                        <tbody th:if="${listDatabaseResponseDto != null}">
                        <tr th:each="item : ${listDatabaseResponseDto}">
                            <form method="post" th:action="@{/admin/manage}">
                                <input style="border: 1px solid" type="hidden" name="DBIndex" th:value="${item.id}">
                                <td>
                                    <input type="text" name="DBName" size="40" th:value="${item.name}">
                                </td>
                                <td th:text="${item.file}"></td>
                                <td>
                                    <div>
                                        <input type="submit" name="EditDB" class="button" value="edit">
                                        <input type="submit" name="DeleteDB" class="button" value="unlink">
                                    </div>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                        <tr>
                            <form method="post" th:action="@{/admin/upload}" enctype="multipart/form-data">
                                <td><input name="DBName" type="text" size="40" /></td>
                                <td><input name="DBFile" type="file" size="40" /></td>
                                <td><div><input name="DBUpload" type="submit" class="button" value="upload"></div></td>
                            </form>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="w-full p-[1px]">
                <div style="margin-bottom: 3px;">
                    <img class="inline pb-[3px]" height="9" th:src="@{/images/p_st1.GIF}" width="4">
                    <span class="font-bold">Enzymes</span>
                </div>
                <form>
                    <table class="database">
                        <tr style="border-bottom: 2px solid #DADDDC; background-color: #f2f2f2">
                            <td style="padding-left: 7px;" class="tableleft">Name</td>
                            <td style="padding-left: 7px;">At Nterm</td>
                            <td style="padding-left: 7px;">At Cterm</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="tableleft"><input style="border: 1px solid; width: 90%; padding: 1px 3px"></td>
                            <td class="tableleft"><input style="border: 1px solid; width: 90%; padding: 1px 3px"></td>
                            <td class="tableleft"><input style="border: 1px solid; width: 90%; padding: 1px 3px"></td>
                            <td>
                                <button class="button">add</button>
                            </td>
                        </tr>
                        <tr>
                            <form method="post" th:action="@{/admin/manage}" onsubmit="return validateEnzymeForm(event)">
                                <td><input name="NenzymeName" type="text" size="40"/></td>
                                <td><input name="NenzymeAN" type="text" size="25"/></td>
                                <td><input name="nenzymeAC" type="text" size="25"/></td>
                                <td><di align="right"><input name="EnzymeAdd" type="submit" class="button" value="add"></di></td>
                            </form>
                        </tr>
                        <script>
                            function validateEnzymeForm(event) {
                                const enzymeName = document.getElementsByName('NenzymeName')[0].value;
                                const enzymeAN = document.getElementsByName('NenzymeAN')[0].value;
                                const enzymeAC = document.getElementsByName('nenzymeAC')[0].value;
                                if (enzymeName === '') {
                                    alert('Please enter enzyme name');
                                    event.preventDefault();
                                    return false;
                                }
                                if (enzymeAN === '') {
                                    alert('Please enter enzyme at Nterm');
                                    event.preventDefault();
                                    return false;
                                }
                                if (enzymeAC === '') {
                                    alert('Please enter enzyme at Cterm');
                                    event.preventDefault();
                                    return false;
                                }
                                return true;
                            }
                        </script>
                    </table>
                </form>
            </div>

            <div class="w-full p-[1px]">
                <div style="margin-bottom: 3px;">
                    <img class="inline pb-[3px]" height="9" th:src="@{/images/p_st1.GIF}" width="4">
                    <span class="font-bold">Modifications</span>
                </div>
                <form>
                    <table class="database">
                        <tr style="border-bottom: 2px solid #DADDDC; background-color: #f2f2f2">
                            <td style="padding-left: 7px;" class="tableleft">Date</td>
                            <td style="padding-left: 7px;">Version</td>
                            <td style="padding-left: 7px;">File</td>
                            <td></td>
                        </tr>
                        <tbody th:if="${listDatabaseResponseDto != null}">
                        <tr th:each="item : ${listDatabaseResponseDto}">
                            <form method="post" th:action="@{/admin/manage}">
                                <input type="hidden" name="db_index" th:value="${item.id}">
                                <td>
                                    <input type="text" name="db_name" size="40" th:value="${item.name}">
                                </td>
                                <td th:text="${item.file}"></td>
                                <td>
                                    <div>
                                        <input type="submit" name="EditDB" class="btnSmall" value="edit">
                                        <input type="submit" name="DeleteDB" class="btnSmall" value="unlink">
                                    </div>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                        <tr>
                            <form method="post" th:action="@{/admin/upload}" enctype="multipart/form-data">
                                <td><input id="modificationDate" type="date" size="20" /></td>
                                <td><input id="modificationVersion" type="text" size="20" /></td>
                                <td><input id="modificationFile" type="file" size="50" /></td>
                                <td><div style="align-items: flex-end"><input type="submit" class="button" value="update"></div></td>
                            </form>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="w-full p-[1px]">
                <div style="margin-bottom: 3px;">
                    <img class="inline pb-[3px]" height="9" th:src="@{/images/p_st1.GIF}" width="4">
                    <span class="font-bold">Software</span>
                </div>
                <form>
                    <table class="database">
                        <tr style="border-bottom: 2px solid #DADDDC; background-color: #f2f2f2">
                            <td style="padding-left: 7px;" class="tableleft">Name</td>
                            <td style="padding-left: 7px;">Release Date</td>
                            <td style="padding-left: 7px;">Version</td>
                            <td style="padding-left: 7px;">File</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="tableleft"><input value="null" style="border: 1px solid; width: 90%; padding: 1px 3px"></td>
                            <td class="tableleft"><input value="version1" style="border: 1px solid; width: 90%; padding: 1px 3px"></td>
                            <td class="tableleft"><input value="example file 1" style="border: 1px solid; width: 90%; padding: 1px 3px"></td>
                            <td class="tableleft"><input value="example file 1" style="border: 1px solid; width: 90%; padding: 1px 3px"></td>
                            <td></td>
                        </tr>
                        <tbody th:if="${listEnzymeResponseDto != null}">
                        <tr th:each="item : ${listEnzymeResponseDto}">
                            <form method="post" th:action="@{/admin/manage}" onsubmit="return validateEnzymeForm(event)">
                                <input type="hidden" name="enzyme_id" th:value="${item.id}" />
                                <td>
                                    <input type="text" name="enzyme_name" size="40" th:value="${item.name}">
                                </td>
                                <td>
                                    <input type="text" name="enzyme_nt_cut" size="25" th:value="${item.ntCleave}">
                                </td>
                                <td>
                                    <input type="text" name="enzyme_ct_cut" size="25" th:value="${item.ctCleave}">
                                </td>
                                <td>
                                    <div>
                                        <input type="submit" name="modify_enzyme" class="button" value="edit">
                                        &nbsp;
                                        <input type="submit" name="delete_enzyme" class="button" value="delete">
                                    </div>
                                </td>
                                <script>
                                    function validateEnzymeForm(event) {
                                        const enzymeName = document.getElementsByName('enzyme_name')[0].value;
                                        const enzymeAN = document.getElementsByName('enzyme_nt_cut')[0].value;
                                        const enzymeAC = document.getElementsByName('enzyme_ct_cut')[0].value;
                                        if (enzymeName === '') {
                                            alert('Please enter enzyme name');
                                            event.preventDefault();
                                            return false;
                                        }
                                        if (enzymeAN === '') {
                                            alert('Please enter enzyme at Nterm');
                                            event.preventDefault();
                                            return false;
                                        }
                                        if (enzymeAC === '') {
                                            alert('Please enter enzyme at Cterm');
                                            event.preventDefault();
                                            return false;
                                        }
                                        return true;
                                    }
                                </script>
                            </form>
                        </tr>
                        </tbody>
                        <tr>
                            <form method="post" th:action="@{/admin/upload}" enctype="multipart/form-data" onsubmit="return doSoftware(event)">
                                <td><select id="softwareName">
                                    <option value="">Select --</option>
                                    <option value="MODa">MODa</option>
                                    <option value="DBond">DBond</option>
                                    <option value="NextSearch">NextSearch</option>
                                </select></td>
                                <td><div><input id="softwareDate" type="date" size="15" /></div></td>
                                <td><div><input id="softwareVersion" type="text" size="10" /></div></td>
                                <td><div><input id="softwareFile" type="file" size="50"/></div></td>
                                <td><div><input name="softwareUpdate" type="submit" class="button" value="update"/></div></td>
                            </form>
                        </tr>
                        <script>
                            function doSoftware(event) {
                                const softwareName = document.getElementById('softwareName').value;
                                const softwareDate = document.getElementById('softwareDate').value;
                                const softwareVersion = document.getElementById('softwareVersion').value;
                                const softwareFile = document.getElementById('softwareFile').value;
                                if (softwareName === '') {
                                    alert('Please select software name');
                                    event.preventDefault();
                                    return false;
                                }
                                if (softwareDate === '') {
                                    alert('Please enter software release date');
                                    event.preventDefault();
                                    return false;
                                }
                                if (softwareVersion === '') {
                                    alert('Please enter software version');
                                    event.preventDefault();
                                    return false;
                                }
                                if (softwareFile === '') {
                                    alert('Please select software file');
                                    event.preventDefault();
                                    return false;
                                }
                                if(softwareFile.toLowerCase().endsWith(".zip") === false){
                                    alert('Please select a zip file');
                                    event.preventDefault();
                                    return false;
                                }
                                return true;
                            }
                        </script>
                    </table>
                </form>
            </div>

            <div class="w-full p-[1px]">
                <form>
                    <table class="database">
                        <tr style="border-bottom: 2px solid #DADDDC; background-color: #f2f2f2">
                            <td width="10%" style="text-align: center;">
                                <button style="background-color: coral; color: white; padding: 2px 6px">update</button>
                            </td>
                            <td>Email message to a recipient</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; vertical-align: top">MODa</td>
                            <td><textarea cols="100" rows="6">
                            </textarea></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; vertical-align: top">DBond</td>
                            <td><textarea cols="100" rows="6">dbond description + dbond download link
                            </textarea></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; vertical-align: top">NextSearch</td>
                            <td><textarea cols="100" rows="6">nextsearch description + nextsearch download link
                            </textarea></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; vertical-align: top">Signature</td>
                            <td><textarea cols="100" rows="6">Prix Hanyang (Bioinformatics & Intelligent Systems Lab, Hanyang University)
                            </textarea></td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>
    </div>
</div>

<style>
    .container {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    .image {
        margin-right: 6px;
        width: 2px;
        height: 9px;
    }
    .database {
        width: 100%;
        border-top: 2px solid #DADDDC;
        border-bottom: 2px solid #DADDDC;
    }
    td {
        padding: 4px;
    }
    tr {
        border-bottom: 1px solid #DADDDC;
    }
    .button {
        display: inline-block;
        padding: 3px 8px;
        background-color: #E9E9E9;
        color: #6D6D6D;
        border: 1px solid #AAAAAA;
        text-decoration: none;
        cursor: pointer;
     }
    .databaseTable1 {
        width: 45%;
    }
    table {
        margin-bottom: 20px;
    }
    textarea {
        border: 1px solid #DADDDC;
        padding: 2px;
    }
</style>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
