<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/metadata :: metadata}">
<body>
<header th:replace="~{fragments/header :: header('livesearch', false)}"></header>

<div class="flex gap-[15px] text-[#5d5d5d]">
    <aside th:replace="~{livesearch/fragments/asidesearch :: asidesearch}"></aside>
    <div class="w-[885px]">
        <div
                class="flex items-end justify-between w-full h-[35px] mt-[18px] mb-[20px] border-b-[1px] border-[#cfd3cf] text-[16px] font-bold">
            <div class="h-[34px] leading-[2]">
                <span class="text-[#0000FF]">ACTG (Amino aCids To Genome)</span>
                <span class="font-normal text-[12px] pl-[6px]">peptide mapping ( version 1.10 )</span>
            </div>
            <!--      <div th:replace="fragments/tab_menu :: menu"></div>-->
        </div>
        <div style="width: 90%">
            <form>
                <table class="actgtable">
                    <tr>
                        <td class="tableleft" style="font-weight: bold"> User Name</td>
                        <td class="tableright"><input value="anonymous" type="username" style="border: 1px solid; width: 90%; padding: 1px 3px"></td>
                    </tr>
                    <tr>
                        <td class="tableleft" style="font-weight: bold"> Mapping Title</td>
                        <td class="tableright"><input type="mappingtitle" style="border: 1px solid; width: 90%; padding: 1px 3px"></td>
                    </tr>
                    <tr>
                        <td class="tableleft" style="font-weight: bold; text-align: center" colspan="2"> Mapping Environment</td>
                    </tr>
                    <tr>
                        <td class="tableleft" style="font-weight: bold"> Peptide List</td>
                        <td class="tableright"><input type="file" id="peptidelist" style="border: 1px solid; margin-right: 6px;"> File size limit : 100KB</td>
                        <script>
                            //TODO: Peptide list 파일 사이즈 제한
                            $(function(){
                                $("#peptidelist").on("change", function(){
                                    var maxSize = 100 * 1024; //100KB
                                    var fileSize = this.files[0].size; //업로드한 파일용량

                                    if(fileSize > maxSize){
                                        alert("Peptide list is limited by 100 KB");
                                        $(this).val(''); //업로드한 파일 제거
                                        return;
                                    }
                                });
                            });
                        </script>
                    </tr>
                    <tr>
                        <td class="tableleft" style="font-weight: bold">
                            Mapping Method <br>
                            <div style="font-weight: normal">
                                PV: Protein DB filtering / Variant splice graph mapping <br>
                                PS: Protein DB filtering / Six-frame translation mapping <br>
                                VO: Mapping variant splice graph only <br>
                                SO: Mapping six-frame translation only <br>
                            </div>
                        </td>
                        <td class="tableright">
                            <select style="border: 1px solid">
                                <option>PV</option>
                                <option>PS</option>
                                <option>VO</option>
                                <option>SO</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tableleft" style="font-weight: bold"> Isoleucine is equivalent to leucine</td>
                        <td class="tableright">
                            <div style="pointer-events: none; float: left">
                                <input type="checkbox" style="pointer-events: auto; margin: 2px 3px">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tableleft" style="font-weight: bold; text-align: center" colspan="2"> Protein DB Filtering</td>
                    </tr>
                    <tr>
                        <td class="tableleft" style="font-weight: bold"> Protein DB</td>
                        <td class="tableright">
                            <select style="border: 1px solid">
                                <option>Swissprot 2016-07</option>
                                <option>Uniprot 2016-07</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tableleft" style="font-weight: bold"> Filter out single AA variations</td>
                        <td class="tableright">
                            <div style="pointer-events: none; float: left">
                                <input type="checkbox" style="pointer-events: auto; margin: 2px 3px">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tableleft" style="font-weight: bold; text-align: center" colspan="2"> Variant Splice Graph Mapping</td>
                    </tr>
                    <tr>
                        <td class="tableleft" style="font-weight: bold"> Variant Splice Graph</td>
                        <td class="tableright">
                            <select style="border: 1px solid">
                                <option>GRCh38, Ensembl Release 83</option>
                                <option>GRCh37, Ensembl Release 78</option>
                                <option>GRCh37, Ensembl Release 75</option>
                                <option>GRCh37, Ensembl Release 71</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tableleft" style="font-weight: bold"> Mutations (VCF)</td>
                        <td class="tableright">
                            <div style="pointer-events: none; float: left">
                                <input type="checkbox" id="VCFcheckbox" style="pointer-events: auto; margin: 2px 3px">
                            </div>
                            <div id="VCFfileInputContainer"></div>
                        </td>

                        <script>
                            document.getElementById('VCFcheckbox').addEventListener('change', function() {
                                var fileInputContainer = document.getElementById('VCFfileInputContainer');
                                if (this.checked) {
                                    var fileInput = document.createElement('input');
                                    fileInput.type = 'file';
                                    fileInput.id = 'VCFfile';
                                    fileInput.style.display = 'inline-block';
                                    fileInput.style.border = '1px solid';
                                    fileInput.style.marginRight = '6px';
                                    fileInputContainer.appendChild(fileInput);

                                    var fileSizeLimit = document.createElement('div');
                                    fileSizeLimit.textContent = 'File size limit : 20MB';
                                    fileSizeLimit.style.display = 'inline-block';
                                    fileInputContainer.appendChild(fileSizeLimit);
                                } else {
                                    while (fileInputContainer.firstChild) {
                                        fileInputContainer.removeChild(fileInputContainer.firstChild);
                                    }
                                }
                            });

                            //TODO: VCF 파일 사이즈 제한
                            $(function(){
                                $("#VCFfile").on("change", function(){
                                    var maxSize = 20 * 1024 * 1024; //20MB
                                    var fileSize = this.files[0].size; //업로드한 파일용량

                                    if(fileSize > maxSize){
                                        alert("VCF file is limited by 20 MB");
                                        $(this).val(''); //업로드한 파일 제거
                                        return;
                                    }
                                });
                            });
                        </script>
                    </tr>
                    <tr>
                        <td class="tableleft" style="font-weight: bold"> Exon Skipping</td>
                        <td class="tableright">
                            <div style="pointer-events: none; float: left">
                                <input type="checkbox" style="pointer-events: auto; margin: 2px 3px">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tableleft" style="font-weight: bold"> Alternative Acceptor & Donor</td>
                        <td class="tableright">
                            <div style="pointer-events: none; float: left">
                                <input type="checkbox" style="pointer-events: auto; margin: 2px 3px">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tableleft" style="font-weight: bold"> Intron retention</td>
                        <td class="tableright">
                            <div style="pointer-events: none; float: left">
                                <input type="checkbox" style="pointer-events: auto; margin: 2px 3px">
                                (it takes about 10 minutes)
                            </div>
                        </td>
                    </tr>
                </table>
                <div>
                    <a href="/sampledata/ACTG_test_data.zip" download="ACTG_test_data.zip" style="color: brown">Download sample data</a>
                    <div style="float: right">
                        <input type="reset" value="Reset" class="button">
                        <input type="submit" value="Submit" class="button">
                        <script>
                            //reset 버튼을 눌렀을 때 VCF 파일 업로드 input을 초기화
                            document.querySelector('input[type="reset"]').addEventListener('click', function() {
                                var checkbox = document.getElementById('VCFcheckbox');
                                if (checkbox.checked) {
                                    checkbox.checked = false;
                                    var event = new Event('change');
                                    checkbox.dispatchEvent(event);
                                }
                                var fileInputContainer = document.getElementById('VCFfileInputContainer');
                                while (fileInputContainer.firstChild) {
                                    fileInputContainer.removeChild(fileInputContainer.firstChild);
                                }
                            });
                        </script>


                        <div th:replace="~{fragments/button :: button}"></div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <style>
        .actgtable {
            border-width: 3px 0 3px 0;
            border-style:solid none solid none;
            border-color: #DADDDC;
            margin-bottom: 15px;
            width: 100%;
        }
        .tableleft {
            background-color: #f2f2f2;
            text-align: right;
            width: 40%;
            padding: 4px 3px;
            border-width: 0 0 2px;
        }
        .tableright {
            text-align: left;
            padding: 4px 3px;
            border-width: 0 0 2px;
        }
    </style>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
