<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/metadata :: metadata}">
<body>
<header th:replace="~{fragments/header :: header('header', false)}"></header>


<div class="w-[1200px] flex flex-col text-[#4e4d4d] pl-[25px]">
    <div
            class="flex items-end justify-between w-full h-[35px] mt-[18px] mb-[20px] border-b-[1px] border-[#cfd3cf] text-[16px] font-bold">
        <div class="h-[34px] leading-[2.1]">HELP</div>
        <div th:replace="~{fragments/tab_menu :: menu}"></div>
    </div>
    <div class="w-full mx-auto leading-[130%] flex flex-col gap-[10px] p-[2px]">
        <div class="flex flex-col gap-[18px] w-[750px] h-[1300px]">


            <div class="w-full p-[1px]">
                <div>
                    <img class="inline pb-[3px]" height="9" th:src="@{/images/p_st1.GIF}" width="4">
                    <span class="font-bold">Search Parameters</span>
                    <ul class="list-disc pl-[11px]  m-[2px]">
                        <br>
                        <li> <span class="font-bold" id="userName">User Name</span>
                            <br>
                            <div>
                                Put your name or id.
                            </div>
                            <br>
                        </li>
                        <li> <span class="font-bold" id="mappingTitle">Mapping Title</span>
                            <div>
                                Put title for the search. It will be printed at the top of result page.
                                If the title is left blank, it will be named automatically.
                            </div>
                            <br>
                        </li>
                    </ul>

                    <img class="inline pb-[3px]" height="9" th:src="@{/images/p_st1.GIF}" width="4">
                    <span class="font-bold">Mapping Environment (this option is applied all kinds of mapping)</span>
                    <ul class="list-disc pl-[11px]  m-[2px]">
                        <br>
                        <li> <span class="font-bold" id="peptideList">Peptide List</span>
                            <div>
                                Put a peptide list file. This format is followed below.
                            </div>
                            <br>
                        </li>
                            <div>
                                DFKLSDEETATILSFNR <br>
                                ISLSPEYVFSVSTFQELPSLEQK <br>
                                TLVTLPLLFLLPK <br>
                                FISGHTSELGNFR <br>
                                FQTIDIEPDIEALLSQGLSCA <br>
                                GETGPAGPPGAPGAPGAPGPVGPAGKSGDRGETGPAGPAGPVGPVGAR <br>
                                IIEDLGVHFLQYVLK <br>
                                KDEGEGAAGAGDHQDPSLGAGEAASK <br>
                                AAECSDFPVPSTEGTPIQGSK <br>
                            </div>
                            <br>

                        <li> <span class="font-bold" id="mappingMethods">Supported mapping methods</span>
                            <div>
                                PV: Mapping protein database first to filter out known peptides, and then mapping variant splice graph. <br>
                                PS: Mapping protein database first to filter out known peptides, and then mapping six-frame translation database. <br>
                                VO: Mapping variant splice graph only. <br>
                                VO: Mapping six-frame translation database only. <br>
                            </div>
                            <br>
                        </li>

                        <li> <span class="font-bold" id="isoleucine">Isoleucine is equivalent to leucine</span>
                            <div>
                                Identified peptides from tandem mass spectrometry do not recongnize isoleucine and leucine. <br>
                                This is because their mass are same; therefore,
                                this option assumes that isoleucines in a peptide can be interpreted as leucine, vice versa.
                            </div>
                            <br>
                        </li>
                    </ul>

                    <img class="inline pb-[3px]" height="9" th:src="@{/images/p_st1.GIF}" width="4">
                    <span class="font-bold">Protein Database Mapping</span>
                    <ul class="list-disc pl-[11px]  m-[2px]"> <br>
                        <li> <span class="font-bold" id="proteinDB">Supported protein database</span>
                            <div>
                                To filter out known peptides, reference protein database mapping is useful. <br>
                                This mapping is only for filtering out, not for mapping.
                            </div>
                            <br>
                        </li>

                        <li> <span class="font-bold" id="aaVariations">Single amino acid variations</span>
                            <div>
                                When map peptides on a reference protein database, it can be consider single amino acid variations (SAVs). <br>
                                This option is useful for the sake of automatically detecting possible SAVs
                            </div>
                            <br>
                        </li>
                    </ul>

                    <img class="inline pb-[3px]" height="9" th:src="@{/images/p_st1.GIF}" width="4">
                    <span class="font-bold">Variant Splice Graph Mapping</span>
                    <ul class="list-disc pl-[11px]  m-[2px]"> <br>
                        <li> <span class="font-bold" id="spliceGraph">Variant Splice Graph</span>
                            <div>
                                ACTG supports variants such as single exon skipping, splice junction variation,
                                frame shift, and exon-extension (mapping on exon and intron both). <br>
                                Variant splice graph is built from reference human genome and transcriptome models and
                                this information is separated by comma i.e. ReferenceGenomeVersion,TranscriptomeModelVersion.
                            </div>
                            <br>
                        </li>

                        <li> <span class="font-bold" id="mutations">Mutations</span>
                            <div>
                                If a user want to map mutations, the user must provide mutation information formatted VCF. The format is followed below. <br> <br>
                                1 32670862 . G A . PASS SOMATIC;VT=SNP GT:AD:BQ:DP:FA:SS 0:48,0:.:48:0.00:0 41 36 5 51 46 5 Somatic <br>
                                1 52553790 . C T . PASS SOMATIC;VT=SNP GT:AD:BQ:DP:FA:SS 0:22,0:.:22:0.00:0 90 90 0 11 8 3 Somatic <br>
                                1 75039014 . C A . DP NT=ref;QSS=160;QSS_NT=160;SGT=CC->AC;SOMATIC;TQSS=2;TQSS_NT=2 <br>
                                DP:FDP:SDP:SUBDP:AU:CU:GU:TU 384:1:0:0:0,0:383,384:0,0:0,0 1 1 0 293 273 20 Somatic <br>
                                <br> Each field must be deliminated by tab, and the number of fields are at least 10.
                            </div>
                            <br>
                        </li>

                        <li> <span class="font-bold" id="exonSkipping">Exon Skipping</span>
                            <div>
                                It automatically detects single exon skipping variation if it turns on.
                            </div>
                            <br>
                        </li>

                        <li> <span class="font-bold" id="acceptorDonor">Alternative Acceptor & Donor</span>
                            <div>
                                It automatically detects splice junction varaition if it turns on.
                            </div>
                            <br>
                        </li>

                        <li> <span class="font-bold" id="IntronMapping">Intron Mapping</span>
                            <div>
                                It automatically detects exon-extension by mapping peptides on exon and intron both if it turns on.
                            </div>
                            <br>
                        </li>
                    </ul>

                    <img class="inline pb-[3px]" height="9" th:src="@{/images/p_st1.GIF}" width="4">
                    <span class="font-bold">Six-frame Translation Mapping</span>
                    <ul class="list-disc pl-[11px]  m-[2px]"> <br>
                        <li> <span class="font-bold" id="referenceGenome">Reference genome</span>
                            <div>
                                Support two reference human genome: GRCh37, GRCh38.
                            </div>
                            <br>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
