<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/metadata :: metadata}">
<body>
<header th:replace="~{fragments/header :: header('livesearch', false)}"></header>

<div class="flex gap-[15px] text-[#5d5d5d]">
  <aside th:replace="~{livesearch/fragments/asidesearch :: asidesearch}"></aside>
  <table style="width: 95%; border: none; margin: auto; padding: 1px">
    <tr>
      <td style="font-size: 3px">Processing... <em th:text="${rate}"></em></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><pre id="content-" th:text="${output}"></pre></td>
    </tr>
  </table>

  <script>
    // 페이지를 주기적으로 새로 고치는 타이머를 관리하는 객체
    var pageRefreshTimer = {
      timerID: null,
      interval: 3000, // 3초
      failed: false,
      finished: false,

      // 타이머를 시작하는 함수
      start: function() {
        this.timerID = setTimeout(this.refreshPage.bind(this), this.interval);
      },

      // 페이지를 새로 고치는 함수
      refreshPage: function() {
        if(this.failed || this.finished){
          return;
        }
        clearTimeout(this.timerID);
        var url = "actgprocess.html?execute=no&process=" + encodeURIComponent(processName) + "&title=" + encodeURIComponent(title);
        $(location).attr('href', url);
      }
    };

    // 타이머 시작
    pageRefreshTimer.start();
  </script>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>