<head th:fragment="metadata">
  <meta content="text/html; charset=euc-kr" http-equiv="Content-Type" />
  <meta content="PRIX - PRoteome InformatiX" property="og:title">
  <meta content="website" property="og:type">
  <meta content="images/ci.gif" property="og:image">
  <meta content="PRoteome InformatiX by Bioinformatics & Intelligent Systems Lab" property="og:description">
  <title>PRIX - PRoteome InformatiX</title>
  <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
  <link rel="icon" th:href="@{/images/ci.gif}" type="image/gif">
  <script src="https://cdn.tailwindcss.com"></script>
</head>