<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/metadata :: metadata}">
<body>
<header th:replace="~{fragments/header :: header('download', false)}"></header>

<div class="flex gap-[15px] text-[#5d5d5d]">
  <aside th:replace="~{download/fragments/asidetools :: asidetools}"></aside>
  <div class="w-[885px]">
    <div
            class="flex items-end justify-between w-full h-[35px] mt-[18px] mb-[20px] border-b-[1px] border-[#cfd3cf] text-[16px] font-bold">
      <div class="h-[34px] leading-[2]">
        <span class="text-[#4e4d4d]">ACTG</span>
        <span class="font-normal text-[12px] pl-[6px]">- Novel peptide mapping</span>
      </div>
      <div th:replace="~{fragments/tab_menu :: menu}"></div>
    </div>
    <div class="w-[650px] p-[2px]">
      <div class="leading-[130%] p-[1px]">
        In many proteogenomics applications, mapping peptide sequences onto gene models can be very useful because it can
        find new gene model ,and correct or modify annotated gene model. ACTG provides a peptide mapping allowing four
        structural variations: junction variation, exon skipping, frame shift and intron retention (exon extension at exon-exon
        junction).
      </div>
      <div class="mt-[20px]">
        <div th:replace="~{download/fragments/article :: articleHeader('Software')}"></div>
        <ul class="list-disc pl-[40px] m-[2px]">
          <li>
            Requirement
            <div class="pt-[15px] text-[#4189cf] leading-[130%]">
              ACTG was implemented using JAVA programming language, and requires Java Running Environment (JRE).
              <br>
              If JRE is not installed, please visit
              <a
                      th:replace="~{fragments/link :: linkA('http://www.oracle.com/technetwork/java/index.html', 'http://www.oracle.com/technetwork/java/index.html', true)}"></a>
              <br>
            </div>
          </li>
          <li class="pt-[14px]">
            Release Note
            <div class="pt-[15px] leading-[130%]">
              - <a
                    th:replace="~{fragments/link :: linkA('ACTG_ReleaseNote.txt', 'Nov 17, 2020: version 1.20', false)}"></a>
              (
              <a
                      th:replace="~{fragments/link :: linkA('/request?software=actg', 'Software download', false)}"></a> )
            </div>
            <div class="leading-[130%]">
              - <span class="text-[#4189cf]">Nov 5, 2018: version 1.11</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-[13px]">
        <div th:replace="~{download/fragments/article :: articleHeader('Publication')}"></div>
        <div class="w-full flex flex-col p-[3px] ml-[7px] leading-[130%]">
          <span class="font-bold text-[#4e4d4d]">
            ACTG: novel peptide mapping onto gene models
          </span>
          <span class="italic">
            Seunghyuk Choi, Hyunwoo Kim, and Eunok Paek.
          </span>
          <span>
            Bioinformatics, 2017, 33(8), 1218-1220
            <a
                    th:replace="~{fragments/link :: linkA('https://pubmed.ncbi.nlm.nih.gov/28031186/', '[ PMID: 28031186 ]', true)}"></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>