<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/metadata :: metadata">
<body>
<header th:replace="fragments/header :: header('download', false)"></header>

<div class="flex gap-[15px] text-[#5d5d5d]">
  <aside th:replace="download/fragments/asidetools :: asidetools"></aside>
  <div class="w-[885px]">
    <div
      class="flex items-end justify-between w-full h-[35px] mt-[18px] mb-[20px] border-b-[1px] border-[#cfd3cf] text-[16px] font-bold">
      <div class="h-[34px] leading-[2]">
        <span class="text-[#4e4d4d]">DDP Search</span>
        <span class="font-normal text-[12px] pl-[6px]">- Data-dependent scoring parameter optimization</span>
      </div>
      <!--      <div th:replace="fragments/tab_menu :: menu"></div>-->
    </div>
    <div class="w-[650px] p-[2px]">
      <div class="leading-[130%] p-[1px]">
        DDP search conducts a preliminary search for the spectra selected by the spectrum quality filter. Search results
        from the preliminary search are used to generate data-dependent scoring parameters, then the full search over
        the entire input spectra are conducted using the learned scoring parameters.
      </div>
      <div class="mt-[20px]">
        <div th:replace="download/fragments/article :: articleHeader('Software')"></div>
        <ul class="list-disc pl-[40px] m-[2px]">
          <li>
            Requirement
            <div class="pt-[15px] text-[#4189cf] leading-[130%]">
              DDP Search was implemented using both JAVA programming language and bash shell script, and requires both
              Java Running Environment (JRE) and bash shell under Linux operating system.
              <br>
              If JRE is not installed, please visit
              <a
                th:replace="fragments/link :: linkA('http://www.oracle.com/technetwork/java/index.html', 'http://www.oracle.com/technetwork/java/index.html', true)"></a>
              <br>
              *Dependency: MS-GF+ software
              <a class="underline font-bold text-[#0080b3]" href="https://github.com/MSGFPlus/msgfplus">
                (download the latest version via GitHub)
              </a>
            </div>
          </li>
          <li class="pt-[14px]">
            Release Note
            <div class="pt-[15px] leading-[130%]">
              - <a
              th:replace="fragments/link :: linkA('release_note_ddp.txt', 'Jul 26, 2018: version 1.00', false)"></a> (
              <a
                th:replace="fragments/link :: linkA('/request?software=DDPSearch', 'Software download', false)"></a> )
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-[13px]">
        <div th:replace="download/fragments/article :: articleHeader('Publication')"></div>
        <div class="w-full flex flex-col p-[3px] ml-[7px] leading-[130%]">
          <span class="font-bold text-[#4e4d4d]">
            Data-dependent scoring parameter optimization in MS-GF+ using spectrum quality filter
          </span>
          <span class="italic">
            Hyunjin Jo and Eunok Paek.
          </span>
          <span>
            Journal of Proteome Research, 2018, XX, XXXXXX.
            <a
              th:replace="fragments/link :: linkA('https://pubs.acs.org/doi/10.1021/acs.jproteome.8b00415', '[ DOI: 10.1021/acs.jproteome.8b00415 ]', true)"></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
