<aside class="min-w-[190px] flex flex-col items-end gap-[15px]" th:fragment="asidesearch">
  <img height="53" src="/images/subtit02.gif" width="161">
  <ul class="w-[161px] flex flex-col gap-[5px] pl-[13.5px]">

    <li class="w-full flex items-center gap-[6.5px] h-[21px]">
      <img class="h-[10px] mb-[2px]" height="10" src="/images/icon_5.gif" width="6">
      <a th:replace="~{fragments/link :: linkB('/livesearch/actg', 'ACTG', false)}"></a>
    </li>

    <li class="w-full flex items-center gap-[6.5px] h-[21px]">
      <img class="h-[10px] mb-[2px]" height="10" src="/images/icon_5.gif" width="6">
      <a th:replace="~{fragments/link :: linkB('/livesearch/use', 'USE', false)}"></a>
    </li>

  </ul>
</aside>